* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62,5%;
    --primary-color: #FFFFFF;
    --font-family: "Roboto", sans-serif;
    --nav-font-size: 2.4rem;
}

nav {
    display: flex;
    gap: 6rem;
    align-items: center;
    padding-left: 7.2rem;
    padding-top: 4rem;
}

.nav {
    display: flex;
    gap: 4.2rem;
}

.nav a{
    font-family: var(--font-family);
    font-size: var(--nav-font-size);

    color: var(--primary-color);
    text-decoration: none;
    opacity: 0.7;

}

.nav a:hover {
    opacity: 1;
    font-weight: bold;
    
}